.support-title {
  padding: 20px;
}
.support-title p {
  font-weight: bolder !important;
  font-size: 20px !important;
  line-height: 15px !important;
  color: #004574 !important;
}
.support-paragraph > ul > li {
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  color: #7e7e7e;
}
li::marker {
  color: #004574 !important;
}
.support-paragraph > ul {
  padding: 10px 20px !important;
}

.support-paragraph > ul > li {
  padding: 10px 0 !important;
}
.billing-text > div > input {
  height: 80px !important;
}
.update-btn {
  background: linear-gradient(180deg, #3b6d8f 0%, #6e99b7 100%) !important;
  border-radius: 12px !important;
  font-size: 20px !important;
  line-height: 12px !important;
  width: 200px !important;
  height: 50px !important;
  text-transform: capitalize !important;
}
.updateButton {
  float: right !important;
  padding-right: 30px !important;
}
.AddField {
  background: #f5fbff !important;
  border: 0.288654px solid #64c1ff !important;
  border-radius: 12px !important;
  color: #004574 !important;
  text-transform: capitalize !important;
  margin-top: 10px !important;
}
.addIcon {
  font-size: 40px !important;
}
.formInput:focus-visible {
  border: none !important;
}
.formInput {
  border-radius: 12px !important;
}
